nav#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
  top: 0;
  z-index: 5;
}

nav#nav-bar img.logo {
  width: 80px;
  height: 80px;
  float: left;
}

nav#nav-bar span.header {
  font-size: 2em;
  margin-right: 10px;
  float: left;
  line-height: 80px;
}

nav .nav-right {
  float: right;
  height: 100%;
  display: flex;
}

/* ----- Compose button ----- */

button#compose-toggle {
  margin: auto;
  height: 60px;

  background-color: #EFE;
  border: 1px solid #222;
  border-radius: 5px;

  color: #00a087;
  font-size: 1.2em;

  cursor: pointer;
}
button#compose-toggle:hover {
  background-color: #FFF;
  color: #222;
}
button#compose-toggle:focus {
  outline: none;
}