.new-tweet {
  margin: 0 0 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #EEE;
  padding: 0.5em 0.5em;
  position: relative;
  z-index: 4;

  display:none;
}

.new-tweet h2 {
  margin: 0 auto 0.4em;
  border-bottom: 2px solid #244751;
}

.new-tweet textarea {
  display: block;
  margin: 0 0 4px;
  resize: vertical;
  width: 100%;
  padding: 5px;
}

.submit-tweet {
  display: inline;
  vertical-align: text-bottom;
}

.counter {
  font-style: italic;
  float: right;
  font-size: 0.8em;
}

.counter-over-limit {
  color: red;
  font-weight: 700;
}

.new-tweet.focus-view {
  box-shadow: 0 0 0 5000px rgba(0,0,0,.5);
  transition: box-shadow ease 0.5s;
}