article.tweet {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 0 20px;
  overflow: hidden;
}

article.tweet:hover, article.tweet:hover * {
  transition: all ease 0.2s;
}

article.tweet:hover {
  border-color: #999;
  box-shadow: 0px 4px 5px 1px #999;
  transform: translateY(-2px);
}

article.tweet > header {
  background-color: #EEE;
  width: 100%;
  padding: 8px;
}

article.tweet > header span {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;
}
article.tweet:hover > header span {
  opacity: 1.0;
}

article.tweet .avatar {
  background-color: pink;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  /* Not sure why but there is a 3px 'invisible' bottom margin */
  margin-bottom: -3px;
}

article.tweet .fullname {
  display: inline-block;
  font-size: 1.6em;
  font-weight: 700;
  margin-left: 8px;
  vertical-align: top;
}

article.tweet .handle {
  float: right;
}

article.tweet .tweet-body {
  margin: 16px 10px;
}

article.tweet footer {
  border-top: 1px solid #EEE;
  padding: 8px;
}

article.tweet .time-posted {
  font-size: 0.8em;
}

article.tweet .button-area {
  float: right;
  opacity: 0;
}

article.tweet:hover .button-area {
  opacity: 1;
}

article.tweet i {
  margin: 0 2px;
  cursor: pointer;
  opacity: 0.7;
}
article.tweet i:hover {
  opacity: 1;
  transition-duration: 0s;
}